<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div class="container">
    <img src="./assets/photo.svg" alt="">
    <h1>Bem vindo, [entregador]!</h1>
    <div class="button">
    
    <span><ion-button id = "button" routerLink="/entregas" button class="button button-positive">
      Procurar entregas
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button></span>

    </div>
  </div>

  

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
